# verification/curation/(ui|api)
*/*/*/.env
*/*/*/coverage
*/*/*/dist
*/*/*/node_modules
*/*/*/npm-debug.log

# data-serving/data-service
*/*/.env
*/*/coverage
*/*/dist
*/*/node_modules
*/*/npm-debug.log

# geocoding/location-service
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

.git