attrs==20.3.0
boto3==1.17.57
botocore==1.20.57
CacheControl==0.12.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-Inputs==0.3.0
future==0.18.2
idna==2.10
iniconfig==1.1.1
iso3166==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
json-schema==0.3
mapbox==0.18.0
MarkupSafe==1.1.1
mock==4.0.3
msgpack==1.0.2
packaging==20.9
pluggy==0.13.1
polyline==1.4.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.15.0
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
