version: "3.7"
services:
  curator:
    command: "npm run dev"
    volumes:
      - ../verification/curator-service/api/src:/usr/src/app/verification/curator-service/api/src
    environment:
      AFTER_LOGIN_REDIRECT_URL: "http://localhost:3002"
  data:
    command: "npm run dev"
    volumes:
      - ../data-serving/data-service/src:/usr/src/app/data-serving/data-service/src
  curatorui:
    command: "npm run start-noenv"
    volumes:
      - ../verification/curator-service/ui/src:/usr/src/app/verification/curator-service/ui/src
    environment:
      # We can't use curator:3001 here because that's an internal DNS,
      # not accessible from the user's browser.
      # In production simply /auth/google would work.
      REACT_APP_LOGIN_URL: "http://localhost:3001/auth/google"
      # Use the same private token as for geocoding in dev.
      # It doesn't really matter/expose the token publicly when running things locally.
      REACT_APP_PUBLIC_MAPBOX_TOKEN: "${MAPBOX_TOKEN}"
