version: "3.7"
services:
  mongo:
    volumes:
      - ../verification/scripts:/verification/scripts
  curator:
    command: "npm run dev"
    volumes:
      - ../verification/curator-service/api/src:/usr/src/app/verification/curator-service/api/src
      - ../verification/curator-service/api/openapi:/usr/src/app/verification/curator-service/api/openapi
    environment:
      AFTER_LOGIN_REDIRECT_URL: "http://localhost:3002"
      GOOGLE_OAUTH_CLIENT_ID: "401905127729-2q5oc7ud6au0kq3p9lcudkgo7vlndqh6.apps.googleusercontent.com"
      GOOGLE_OAUTH_CLIENT_SECRET: "daaN6eTGa1K3mUCFAJ-s8UDq"
      MAPBOX_TOKEN: "sk.eyJ1IjoiaGVhbHRobWFwIiwiYSI6ImNrYmNiZjIwZjAwOW0yem80amQwcXBvd3gifQ.AzjoTm1VArJ2EtJ5VrcLqg"

  data:
    command: "npm run dev"
    volumes:
      - ../data-serving/data-service/src:/usr/src/app/data-serving/data-service/src
      - ../data-serving/data-service/api:/usr/src/app/data-serving/data-service/api
  curatorui:
    command: "npm run start-noenv"
    volumes:
      - ../verification/curator-service/ui/src:/usr/src/app/verification/curator-service/ui/src
    environment:
      # We can't use curator:3001 here because that's an internal DNS,
      # not accessible from the user's browser.
      # In production simply /auth/google would work.
      REACT_APP_LOGIN_URL: "http://localhost:3001/auth/google"
      REACT_APP_PUBLIC_MAPBOX_TOKEN: "${REACT_APP_PUBLIC_MAPBOX_TOKEN}"
