# .coveragerc to control coverage.py
[run]
branch = True
command_line = -m pytest ingestion/functions
include = 
    ingestion/functions/*

[report]
omit = */__init__.py

[json]
output = coverage.json