# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Data service Node.js CI

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/data-service-node.yml"
      - "data-serving/data-service/**"
  pull_request:
    paths:
      - ".github/workflows/data-service-node.yml"
      - "data-serving/data-service/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Build and test
        run: |
          npm ci
          npm run build
          npm test
        working-directory: data-serving/data-service
        env:
          CI: true
      - name: Upload test coverage
        uses: codecov/codecov-action@v1
        with:
          file: data-serving/data-service/coverage/coverage-final.json
