name: Integration Tests CI

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/integration-tests.yml"
      - "dev/docker-compose.yml"
      - "verification/curator-service/**"
      - "data-serving/data-service/**"
      - "data-serving/samples/**"
  pull_request:
    paths:
      - ".github/workflows/integration-tests.yml"
      - "dev/docker-compose.yml"
      - "verification/curator-service/**"
      - "data-serving/data-service/**"
      - "data-serving/samples/**"

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: ["chrome", "firefox"]
    name: Cypress tests on ${{ matrix.browser }}

    steps:
      - uses: actions/checkout@v2
      - name: Build stack
        run: docker-compose -f dev/docker-compose.yml -f dev/docker-compose.ci.yml up --build -d -V
      - uses: cypress-io/github-action@v2
        with:
          working-directory: verification/curator-service/ui
          browser: ${{ matrix.browser }}
          wait-on: "http://localhost:3002"
          wait-on-timeout: 300
          install-command: >
            git config --global url."https://github.com/".insteadOf git@github.com: && git config --global url."https://".insteadOf ssh:// && npm i
        env:
          CI: true
      # Screenshots are only available on failures.
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: verification/curator-service/ui/cypress/screenshots
      # Videos are always available.
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-videos
          path: verification/curator-service/ui/cypress/videos/components
