name: Suggest python scripts

on:
  push:
    branches: [main]
    paths:
    - '.github/workflows/suggest-python.yml'
    - 'suggest/acronyms/**'
  pull_request:
    paths:
    - '.github/workflows/suggest-python.yml'
    - 'suggest/acronyms/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: suggest/acronyms
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest
        pytest